/* Global */

body {
    font-famiy: Georgia, "Times New Roman", Times, serif;
    color: #000000;
    margin-top: 50px;
}

header {}

#header-logo {
  height: 40px;
  left: 50%;
}


/* Navigation */

.navbar {
  min-height: 100px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}

/* Content Areas */
.about {

}

.work {

}

.container-project {
  border: 1px;
}

.blog {

}

.contact {

}
